@model List<Models.CategoryViewModel>
@*@<div class="container">
    @for (int i = 0; i < @Model.Count; i += 3)
    {
        <div class="row">
            @for (int j = i; j < Math.Min(i + 3, @Model.Count); j++)
            {

                <div class="col-md-4 mb-4" >
                    <div class="card-body" style="background-color:grey;">
                        <h5 class="card-title">@Model[j].CategoryName</h5>
                        <a asp-area="" class="btn btn-primary"
                           asp-controller="Product"
                           asp-action="Index"
                           asp-route-id=@Model[j].Id>
                            View Books
                        </a>
                    </div>
                </div>
            }
        </div>
    }
</div> *@

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Arsha Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
   
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                    <h1>Browse, Explore, Immerse Yourself in Books</h1>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                    <img src="~/Images/logo.png" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>

    </section><!-- End Hero -->
    <br />
    <br />
    <br />
    <main id="main">
        <!-- ======= Team Section ======= -->
        <section id="team" class="team section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2 style="text-align:center;">Featured Categories</h2>
                    <p style="text-align:center;">Explore our carefully curated selection of featured categories, each offering a unique journey into the world of literature. From gripping mysteries to heartwarming romances, our diverse collection is designed to cater to every reader's taste. Whether you're seeking thrilling adventures, insightful non-fiction, or captivating fiction, our featured categories promise a delightful escape into the realms of imagination. Dive into these handpicked selections and discover the joy of exploring the endless possibilities that books have to offer.</p>
                </div>
                <br />
                <br />
                <br />
                @for (int i = 0; i < @Model.Count; i += 3)
                {
                    <div class="row">
                        @for (int j = i; j < Math.Min(i + 3, @Model.Count); j++)
                        {
                            <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
                                <div class="member d-flex align-items-start">
                                  
                                    <div class="member-info">
                                        <h4>@Model[j].CategoryName</h4>
                                        <a asp-area="" class="btn btn-primary"
                                           asp-controller="Product"
                                           asp-action="Index"
                                           asp-route-id=@Model[j].Id>
                                            View Books
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <br />
                    <br />
                }

            </div>
        </section><!-- End Team Section -->
      
        <br />
        <br />
        <br />
        <br />
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2 style="text-align:center;">Contact</h2>
                    <p style="text-align:center;">Reach out to us for any inquiries or book recommendations.</p>
                </div>

                <div class="row">

                    <div class="col-lg-5 d-flex align-items-stretch">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Location: EMSI ROUDANI</h4>
                                <p>380 Boulevard Brahim Roudani, quartier Maarif</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>info@example.com</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Call:</h4>
                                <p>+212-522-646600</p>
                            </div>

                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d988.2117379901164!2d-7.633746145852149!3d33.58104481520843!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda7d3a6393fc621%3A0x8b61fdb8a5a91679!2sEMSI%20ROUDANI!5e0!3m2!1sfr!2sma!4v1706041824808!5m2!1sfr!2sma" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>

                    </div>

                    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                        <form asp-action="SendMessage" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="name">Your Name</label>
                                    <input type="text" name="name" class="form-control" id="name" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="name">Your Email</label>
                                    <input type="email" class="form-control" name="email" id="email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name">Subject</label>
                                <input type="text" class="form-control" name="subject" id="subject" required>
                            </div>
                            <div class="form-group">
                                <label for="name">Message</label>
                                <textarea class="form-control" name="message" rows="10" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>
                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
   

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/waypoints/noframework.waypoints.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

</html>